:root {
  --primary-font: "Roboto", "sans-serif";
  --secondary-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: blueviolet;
}

.header h2 {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.search_subContainer {
  display: flex;
}

.searchCity,
.search_btn {
  padding: 0.5em;
  font-size: 0.8rem;
  font-family: var(--secondary-font);
  border: none;
}

.searchCity {
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  width: 10rem;
  margin-right: 0.5rem;
}

.searchCity:focus {
  outline: none;
}

.search_btn {
  padding: 0.5em 0.5em;
  font-size: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-items: center;
}
