.sub_container {
  margin: 1em;
  margin-top: 2em;
}

.sub_container h1 {
  font-family: var(--secondary-font);
  font-weight: 100;
  text-align: center;
  font-size: 2rem;
}

.main_top_container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.weather_condition {
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-family: var(--secondary-font);
  margin: 1em;
  padding: 1em;
  margin-right: 2em;
}

.weather_condition img {
  width: 100px;
  margin-right: 1em;
}

.weather_condition h1 {
  font-size: 3em;
}

.weather_condition_subContainer h2 {
  font-weight: 100;
  font-size: 2rem;
}
.weather_condition_subContainer h3 {
  font-weight: 100;
}

.additional_information {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding-left: 2em;
  display: grid;
  place-items: center;
}

.additional_information_subContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.additional_information_subContainer h3 {
  margin: 0.3em 1em;
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  align-items: center;
}

.additional_information_subContainer h3 span {
  margin-left: 0.3rem;
  font-weight: 600;
}

.weather-icon {
  font-size: 1.5rem;
  margin-right: 0.5em;
}
.hourly_forecast_container {
  margin: 0 1em;
  width: max-content;
  margin: 2em auto;
}

.hourly_forecast_container h2 {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: 100;
}

.hourly_forecast_subContainer {
  margin-top: 1em;
}

.hourly_forecast_item {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  border-bottom: 2px solid rgba(255, 255, 255, 0.568);
  margin: 0.5em 0;
  padding: 0.5em;
}

.hourly_forecast_item img {
  width: 50px;
}

.hourly_forecast_item p,
.hourly_forecast_item h2,
.hourly_forecast_item h3 {
  margin: 0 0.5em;
  font-weight: 100;
}

@media screen and (max-width: 950px) {
  .main_top_container {
    flex-direction: column;
    align-items: center;
  }

  .weather_condition {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .weather_condition_subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional_information {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 70%;
  }
  .weather_condition {
    margin-top: 0%;
  }
  .main_top_container {
    margin-top: 0%;
  }

  .hourly_forecast_container {
    width: 100%;
    margin: 2em 0%;
  }
  .hourly_forecast_item p,
  .hourly_forecast_item h2,
  .hourly_forecast_item h3 {
    margin: 0 0.5em;
    font-weight: 100;
  }

  .additional_information {
    width: 100%;
    display: block;
    padding: 0%;
  }
  .additional_information_subContainer {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
